[submodule "ThirdParty/googletest"]
	path = ThirdParty/googletest
	url = https://github.com/google/googletest.git
[submodule "ThirdParty/cpputest"]
	path = ThirdParty/cpputest
	url = https://github.com/cpputest/cpputest.git
[submodule "ThirdParty/nrfx"]
	path = ThirdParty/nrfx
	url = https://github.com/NordicSemiconductor/nrfx.git
[submodule "ThirdParty/cmake-nRF5x"]
	path = ThirdParty/cmake-nRF5x
	url = https://github.com/Polidea/cmake-nRF5x.git
[submodule "ThirdParty/stm32-cmake"]
	path = ThirdParty/stm32-cmake
	url = https://github.com/ObKo/stm32-cmake.git
[submodule "ThirdParty/etl"]
	path = ThirdParty/etl
	url = https://github.com/ETLCPP/etl.git
[submodule "ThirdParty/fatfs"]
	path = ThirdParty/fatfs
	url = https://github.com/abbrev/fatfs.git
[submodule "ThirdParty/littlefs"]
	path = ThirdParty/littlefs
	url = https://github.com/ARMmbed/littlefs.git
[submodule "ThirdParty/CMSIS_5"]
	path = ThirdParty/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "ThirdParty/lwip"]
	path = ThirdParty/lwip
	url = https://git.savannah.nongnu.org/git/lwip.git
[submodule "ThirdParty/picotcp"]
	path = ThirdParty/picotcp
	url = https://github.com/tass-belgium/picotcp.git
[submodule "ThirdParty/tinyusb"]
	path = ThirdParty/tinyusb
	url = https://github.com/hathach/tinyusb.git
